.map{
    position: fixed;
    top: 100px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: -3;
}
.scrolldiv{
    margin-top: 600px;
    display: flex;
    height: 100%;
    width: 100%;
    background: #fafafa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content{
    margin-top: 20px;
}
.graphA{
    position: relative;
    float: left;
}
.graphB{
    position: relative;
    float: right;
}
.graphA:hover .downloadbtn{
    display: block;
}
.graphB:hover .downloadbtn{
    display: block;
}
.downloadbtn{
    position: absolute;
    bottom: 120px;
    right: 100px;
    display: none;
    font-size: 20px;
    z-index: 1;
}