body{
    margin-top: 200px;
}
.content{
    margin: auto;
    width: min-content;
}
.selectdiv{
    width: max-content;
}
#selectMenu{
    color:#484b6a;
}
button.B{
    margin-top: 20px;
    width: 100%;
}