table{
    position: relative;
    background-color: #fafafa;
    font-size: 0.9em;
    border-spacing: 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
table td{
    padding: 21px 28px;
    border-bottom: 2px solid #e4e5f1;
    text-align: left;
}
tbody tr:nth-of-type(even){
    background-color: #f0f0f0;
}
table tr:last-of-type td{
    border-bottom: 3px solid dodgerblue;
}
table th{
    background-color: dodgerblue;
    color:#fafafa;
    padding: 21px 28px;
    font-weight: bold;
    text-align: left;
}
table.sortable thead{
    cursor: pointer;
}