<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="PA1450"/>
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="static/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="static/css/header.css"/>
        <link type="text/css" rel="stylesheet" href="static/css/table.css"/>
        <link type="text/css" rel="stylesheet" href="static/css/country.css"/>
        <title>{{country_name}}</title>
    </head>
    <body>
        <div class="header">
            <a href="/" class="logo">Covid statistics app</a>
            <div class="header-right">
                <a href="/">Home</a>
                <a href="/data">Data</a>
                {% set counter = 0 %}
                <div class="dropdown">
                    <button class="dropbtn active">{{country_name}}</button>
                    <div class="dropdown-content">
                        {% for country in countries %}
                            {% if country == country_name %}
                                <a class="active" href="{{country_links[counter+loop.index0]}}">{{country}}</a>
                            {% else %}
                                <a href="{{country_links[counter+loop.index0]}}">{{country}}</a>
                            {% endif %}
                            {% set counter = counter + 1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <img src="{{ url_for('map', country=country) }}">
        </div>
        <div class="scrolldiv">
            <div class="content">
                <h3>{{country_name}}</h3>
                {{html_table}}
                <p>{{string}}</p>
                <div class="graphs">
                    <div class="graphA">
                        <img src="{{ url_for('fig', country=country, stat=('Confirmed and Recovered').replace(' ', '%')) }}">
                        <a class="downloadbtn" href="{{ url_for('fig', country=country, stat=('Confirmed and Recovered').replace(' ', '%')) }}" download><i class="fa fa-download"></i></a>
                    </div>
                    <div class="graphB">
                        <img src="{{ url_for('fig', country=country, stat=('Deaths').replace(' ', '%')) }}">
                        <a class="downloadbtn" href="{{ url_for('fig', country=country, stat=('Deaths').replace(' ', '%')) }}" download><i class="fa fa-download"></i></a>
                    </div>
                </div>
                <div class="download_button">
                    <a href="{{ url_for('download_data', country=country) }}" download>Download!</a>
                </div>
            </div>
        </div>
    </body>
</html>