<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="PA1450"/>
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">  
        <link type="text/css" rel="stylesheet" href="static/style.css"/>
        <link type="text/css" rel="stylesheet" href="static/table.css"/>
        <title>Data</title>
    </head>
    <body>
        <table class="table">
            {% for row in data %}
                {% if data.index(row) == 0 %}
                    <tr class="table__row">
                        {% for cell in row %}
                            <td class="table__header">{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr class="table__row">
                        {% for cell in row %}
                            {% if row.index(cell) == 3 %}
                                <td class="table__cell"><a href='{{ (cell.replace(" ", "")).lower() }}'>{{ cell }}</a></td>
                            {% else %}
                                <td class="table__cell">{{ cell }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </body>
</html>